.reg-login{
    display: inline-block;
    float: right;
    margin-right: 60px;
    line-height: 3.5;
    height: 60px;
    color: #9f9f9f;
    font-size: 16px;
}
a{
    color: #9f9f9f;
    text-decoration: none;
}
a:hover{
    color: #ef4222;
}
.phold{
    font-weight: bolder;
}
.reg-login span{
    padding: 0 8px;
}
.p2{
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    line-height: 3.5;
    height: 80px;
    font-size: 16px;
}
body{
    background: url("../images/orderbg.jpg");
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
.order_table_title{
    background-color: #ececec;
    height: 40px;
    text-align: center;
}
.order_table_title tr,td{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #dadada;
}

