<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    

    <mvc:default-servlet-handler/>
    <!-- 配置扫描器 -->
    <context:component-scan base-package="com.gdcp.bishe.controller"/>
    <!-- 配置处理器映射器  适配器 -->
    <mvc:annotation-driven/>

    <!-- 配置视图解释器 jsp -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--静态资源-->
    <mvc:resources mapping="/css/**"  location="/css/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/Font-Awesome-3.2.1/**" location="/Font-Awesome-3.2.1/"/>

    <mvc:resources mapping="/assets/css/**" location="/assets/css/"/>
    <mvc:resources mapping="/assets/js/**" location="/assets/js/"/>
    <mvc:resources mapping="/assets/img/**" location="/assets/img/"/>

    <!-- 上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/login"/>
            <bean class="com.gdcp.bishe.interceptor.UserLoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/Rlogin"/>
            <bean class="com.gdcp.bishe.interceptor.RooterLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <context:property-placeholder location="classpath:*.properties"/>

</beans>